# ignore everything in root
/*

# allow some files
!.gitignore
!.git/
!patch/
!MSVCR71.dll
!README.md
!library.zip
!patch.bat
!xp3-repack.exe
!nodemon.json
!package.json
!package-lock.json
!workspace.code-workspace

# # mezameruto original
# data.xp3
# extrans.dll
# fftgraph.dll
# krflash.dll
# krmovie.dll
# meruto.cf
# meruto.exe
# README.md
# wuvorbis.dll
# アンケート.txt
# マニュアル.txt

# # mezameruto runtime
# savedata/

# # krkr
# KrkrExtract.exe
# KrkrExtract.dll
# KrkrExtract_Output/
# KrkrExtract.db

# # compilation
# patch.xp3
